html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inder', sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  .header-container {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
  }
  .header-container > h1 {
      text-align: center;
      padding: 20px;
  }
  .menu-container {
      display: flex;
      flex-flow: row;
      gap: 2%;
      padding: 20px;
  }
  .food-item {
      position: relative;
      padding: 20px;
      border: 2px solid black;
      border-radius: 10px;
      background-color: rgb(147, 172, 170);
      margin-bottom: 2%;
  }
  .food-title {
      position: absolute;
      right: -2px;
      top: -2px;
      border: 2px solid black;
      border-radius: 10px;
      width: 8em;
      text-align: center;
      padding: 2px 0;
  }
  .food-item:nth-of-type(1) .food-title {
      background-color: seagreen;
  }
  .food-item:nth-of-type(2) .food-title {
    background-color: rgb(212, 59, 59);
    color: white;
  }
  .food-item:nth-of-type(3) .food-title {
    background-color: rgb(243, 204, 77);
  }
  .food-desc {
      margin-top: 20px;
  }

  @media (min-width: 769px) and (max-width: 991px) {
    .menu-container {
        flex-wrap: wrap;
    }
    .food-item:nth-of-type(1) {
        flex-basis: 49%;
    }
    .food-item:nth-of-type(2) {
        flex-basis: 49%
    }
    .food-item:nth-of-type(3) {
        flex-basis: 100%
    }
}
@media (max-width: 767px) {
    .menu-container {
        flex-wrap: wrap;
    }
    .food-item {
        flex-basis: 100%;
    }
}
